:root {
  --clock-size: 15rem;
  --clock-radius: 7.5rem;
  --hand-min: 6rem;
  --hand-sec: 7rem;
}

body {
  box-sizing: border-box;
  margin: 0;
  background-color: lightgrey;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  main {
    height: var(--clock-size);
    width: var(--clock-size);
    border-radius: var(--clock-size);
    background-color: white;
    border: 1px solid black;
    cursor: pointer;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    aside {
      position: absolute;
      bottom: var(--clock-radius);
      transform-origin: bottom left;
      border-radius: 4px;
    }

    aside.s {
      height: var(--hand-sec);
      width: 2px;
      background-color: red;
    }
    aside.ms {
      height: var(--hand-min);
      width: 4px;
      background-color: black;

      animation: rotate-spinner 60s ease infinite;
    }

    div.dot {
      height: 10px;
      width: 10px;
      background-color: rgba(0, 0, 0, 0.811);
      border-radius: 10px;
      z-index: 1;
    }
  }
  main:hover {
    aside.s {
      animation: rotate-spinner 1s ease infinite;
    }
  }
}

@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(36deg);
  }
  20% {
    transform: rotate(72deg);
  }
  30% {
    transform: rotate(108deg);
  }
  40% {
    transform: rotate(144deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(216deg);
  }
  70% {
    transform: rotate(252deg);
  }
  80% {
    transform: rotate(288deg);
  }
  90% {
    transform: rotate(324deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
