body {
  box-sizing: border-box;
  margin: 0;
  background-color: lightgrey;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  aside.spinner {
    height: 80px;
    width: 8px;
    background-color: rgb(146, 27, 27);
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 4px 6px 2px rgba(0,0,0,0.97);
    /* -webkit-box-shadow: 3px 4px 6px 2px rgba(0,0,0,0.97);
    -moz-box-shadow: 3px 4px 6px 2px rgba(0,0,0,0.97); */

    animation: rotate-spinner 4s ease-in-out infinite;
  }
}

@keyframes rotate-spinner {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
